@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'YourCustomFont', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-geist-sans: 'YourCustomFont', sans-serif;

  }
}
img:hover {
  opacity: 0.5;
  transition: opacity 0.3s;
}

body {
  background-color: #f0f0f0;  /* This won't affect Tailwind classes like bg-pink-500 */

}
